body {
    background-color: #1d1d1d;
    color: #f8f8f8;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

h1, h2 {
    color: #ffcc00;
}

p, ul {
    max-width: 600px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px 0;
}

.screen-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

code {
    background: #444;
    padding: 2px 5px;
    border-radius: 3px;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}

